* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 970px;
    height: 250px;
    background-color: #cf0a2c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    animation: slideInLeft .5s ease-out 2.6s forwards;
    opacity: 0;
}

.text1 {
    animation: slideInLeft .5s ease-out .3s forwards;
    opacity: 0;
   
   
}

.text2 {
    animation: slideInLeft .5s ease-out 1.1s forwards;
    opacity: 0;
    margin: 0 25px;
    
}

.text3 {
    animation: slideInLeft .5s ease-out 1.9s forwards;
    opacity: 0;
    
}

.button {
    animation: swing .8s ease-out 3.4s forwards;
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

.img {
    width: 395px;
    height: 250px;
}

.main_img {
    position: absolute;
    width: 395px;
    height: 250px;
    animation: slideInLeft .5s ease-out 2.7s forwards;
    opacity: 0;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 575px;
    padding: 10px 0 15px;
}
.text
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
/*    background-color: */
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 10deg);
        transform: rotate3d(0, 0, 1, 10deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 10deg);
        transform: rotate3d(0, 0, 1, 10deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
}